<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Template</title>
    <!-- Import Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body id="app">
    <table class="sharetable">
        <tr>
          <th>Company name</th>
          <th>Købpris</th>
          <th>Salgspris</th>
          <th>Antal</th>
          <th>Total</th>
        </tr>
        <tr v-for="(share, index) in Shares" :key="index">
            <td>
                {{share.Name}}
            </td>
            <td>
                {{share.BuyPrice}}
            </td>
            <td>
                {{share.SellPrice}}
            </td>
            <td>
                {{share.Amount}}
            </td>
            <td>
                {{share.Sum}}
            </td>
        </tr>
      </table>
     <!--<div v-for="(share, index) in Shares" :key="index" class="row">

    </div>
    Import Javascript -->
    <script src="./js/main.js"></script>
    <!-- Mount App --> 
     <script> 
        const mountedApp = app.mount('#app') 
     </script>
</body>
</html>